*{
    margin: 140;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
/* NAVBAR */
body{
    background-image: url(img/wp7838015.jpg);
}
.navbar {
    display: flex;
    font-size: 2em;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: url(img/71882e6be92d3b00e42cf4b8f7d72e99.jpg);
    
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar img {
    height: 5em;
    width: auto;
    mix-blend-mode: multiply;
    margin-bottom: -20px;
    mix-blend-mode: normal;
    border-radius: 200px;
    margin-top: -10px;
}

.navbar ul li {
    padding-left: .5em;
}

.navbar li a {
    font-size: 3ex;
    display: block;
    background-color: var(--carbon);
}

.mainStyle{
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 70px;
    color: rgb(108, 32, 180);
}

.subMenuList {
    display: none;
    position: relative;
    font-weight: bold;
    z-index: 100000;
    margin-left: 90px;
}

.subStyle {
    display: inline-block;
    border-radius: 25px;
    background-color: var(--carbon);
    color: #fff;
}

.subMenu:hover .subMenuList{
    position: absolute;
    display: block;
    z-index: 1000;
}

img.user {
    mix-blend-mode: normal;
}

.content{
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
  }
  
  .yellow{
    left:15px; 
    width: 30px;
    height: 30px;
    background:red;
    box-shadow: 0px 0px 9px 4px orange;
  }
  
  .orange{
    left:10px; 
    width: 40px;
    height: 40px;
    background:rgb(211, 245, 17);
    box-shadow: 0px 0px 9px 4px rgb(39, 163, 11);
  }
  
  .red{
    left:5px;
    width: 50px;
    height: 50px;
    background:rgb(34, 216, 192);
    box-shadow: 0px 0px 5px 4px blue;
  }
  
  .white{
    left:15px; 
    bottom:-4px;
    width: 30px;
    height: 30px;
    background-image: url(img/71882e6be92d3b00e42cf4b8f7d72e99.jpg);
    box-shadow: 0px 0px 9px 4px rgb(141, 37, 141);
  }
  
  .circle{
    border-radius: 50%;
    position:absolute;  
  }
  
  .blue{
    width: 10px;
    height: 10px;
    left:25px;
    bottom:-25px; 
    background: SlateBlue;
    box-shadow: 0px 0px 15px 10px SlateBlue;
  }
  
  .black{
    width: 40px;
    height: 40px;
    left:10px;
    bottom:-60px;  
    background: rgb(199, 35, 29);
    box-shadow: 0px 0px 15px 10px #fff;
    background-image: url(img/wp7838015.jpg);
  }
  
  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #27692b;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 45px;
    background-color: #45a049;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .references{
    color: #000000;
    background-image: url(img/depositphotos_360833246-stock-photo-collage-dollar-banknotes-dice-casino.jpg);
    border-radius: 20px;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }





