@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 140;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
html{
   background-image: url(img/depositphotos_7207603-stock-photo-card-symbol-in-fire.jpg);
   opacity: 0.95;
   background-size: cover;
   background-size: 30px;
   background-attachment: fixed;
}
/* NAVBAR */

.navbar {
    display: flex;
    font-size: 2em;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: url(img/71882e6be92d3b00e42cf4b8f7d72e99.jpg);
    
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar img {
    height: 5em;
    width: auto;
    mix-blend-mode: multiply;
    margin-bottom: -20px;
    mix-blend-mode: normal;
    border-radius: 200px;
    margin-top: -10px;
}

.navbar ul li {
    padding-left: .5em;
}

.navbar li a {
    font-size: 3ex;
    display: block;
}

.mainStyle{
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 70px;
    color: rgb(108, 32, 180);
}

.subMenuList {
    display: none;
    position: relative;
    font-weight: bold;
    z-index: 100000;
    margin-left: 90px;
}

.subStyle {
    display: inline-block;
    border-radius: 25px;
    background-color: var(--carbon);
    color: #fff;
}

.subMenu:hover .subMenuList{
    position: absolute;
    display: block;
    z-index: 1000;
}

img.user {
    mix-blend-mode: normal;
}

/*body*/

/* LAYOUT */
main {
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 20px;
    background-image: url(img/wp7535101.jpg);
    border-radius: 90px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

/* ELEMENTS */
.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: #28020d;
    margin-bottom: auto;
}

.player_active {
    background-color: rgba(8, 36, 106, 0.4);
}

.player_active .name {
    font-weight: 700;
}

.player_active .score {
    font-weight: 400;
}

.player_active .current {
    opacity: 1;
}

.current {
    background-image: url(img/wp7535113.png);
    opacity: 0.8;
    border-radius: 9px;
    color: #ffffff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current_label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.current_score {
    font-size: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    background-image: url(img/71882e6be92d3b00e42cf4b8f7d72e99.jpg);
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;

    background-color: rgb(212, 212, 33);
    background-color: rgba(237, 32, 32, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
}

.btn_new {
    top: 4rem;
}

.btn_roll {
    top: 39.3rem;
}

.btn_hold {
    top: 46.1rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player_winner {
    background-color: #2f2f2f;
    background-image: url(img/wp9150350.jpg);
}

.player_winner .name {
    font-weight: 700;
    background-image: url(img/user.png);
}

.hidden {
    display: none;
}


/* flame */
.container{
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
  }
  
  .gold{
    width: 30px;
    height: 30px;
    margin-left: 690px;
    bottom:-420px;     
    background:rgb(114, 98, 3);
    box-shadow: 0px 0px 9px 4px gold;
  }
  
  .orange{
    width: 40px;
    height: 40px;
    margin-left: 690px;
    bottom:-420px;      
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
  }
  
  .red{
    width: 50px;
    height: 50px;
    margin-left: 690px;
    bottom:-420px;      
    background-image: url(img/71882e6be92d3b00e42cf4b8f7d72e99.jpg);
    box-shadow: 0px 0px 5px 4px rgb(26, 207, 201);
  }
  
  .white{ 
    width: 30px;
    height: 30px;
    margin-left: 690px;
    bottom:-420px;    
    background-image: url(img/71882e6be92d3b00e42cf4b8f7d72e99.jpg);
    box-shadow: 0px 0px 9px 4px rgb(138, 29, 29);
  }
  
  .circle{
    border-radius: 50%;
    position:absolute;  
  }
  
  .blue{
    width: 10px;
    height: 10px;
    margin-left: 690px;
    bottom:-420px;    
    background: SlateBlue;
    box-shadow: 0px 0px 15px 10px SlateBlue;
  }
  
  .black{
    width: 40px;
    height: 40px;
    margin-left: 690px;
    bottom:-420px;    
    background-image: url(img/user.png);
    box-shadow: 0px 0px 15px 10px black;
  }
  
  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }

  .audiomack{
    width: 25%;
    margin-left: 350px;
    margin-top: 20px;
}
  .audiomack-1{
    width: 25%;
    margin-top: -243px;
}
  .audiomack-2{
    width: 25%;
    margin-left: 710px;
    margin-top: -240px;
}
  .audiomack-3{
    width: 25%;
    margin-left: 1050px;
    margin-top: -240px;
}

/* FOOTER */

#footerDiv {
    font-size: 2ex;
    text-align: center;
    background-image: url(img/wp7838015.jpg);

    z-index: 300;
    margin-top: 365px;
    right: 0px; left: 0px;
    padding-top: 1ex;
}

.copyrights .references {
    font-size: 0.5em;
    color: #fff;
}

@media only screen and (max-width:400px){
}